<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>864806051234-56q2qa18u2eg3gii8r9b3qi78bkhsr2r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.864806051234-56q2qa18u2eg3gii8r9b3qi78bkhsr2r</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>864806051234-7a45j1bm87vrsj7m7hhcgi51acqpm7e2.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDOetyN-LF4DRDdSbOQ1zoqIsfZKID-bgg</string>
	<key>GCM_SENDER_ID</key>
	<string>864806051234</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.patelpulseventures.Cloudwash</string>
	<key>PROJECT_ID</key>
	<string>cloudwash-6ceb6</string>
	<key>STORAGE_BUCKET</key>
	<string>cloudwash-6ceb6.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:864806051234:ios:830bb9500adf2b5a8a26fb</string>
</dict>
</plist>